# Python Virtual Environment
.venv/
venv/
env/
data

# Python compiled files (garbage)
__pycache__/
*.pyc

# Mac System files
.DS_Store
.idea

# User data (Optional - if you don't want your personal tasks uploaded)
tasks.json
*.ipynb